<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TE.ActivityFinder.DAL.Properties.Settings.TE_ActivityFinder_DBConnectionString"
            connectionString="Data Source=197.242.147.178;Initial Catalog=TE.ActivityFinder.DB;Persist Security Info=True;User ID=teameffort;Password=@Team@Effort"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>