<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Te.ActivityFinder.Dal.Properties.Settings.Te_ActivityFinderConnectionString"
            connectionString="Data Source=197.242.147.178;Initial Catalog=Te.ActivityFinder;User ID=teameffort;Password=@Team@Effort"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>